@import "../variables.scss";

.code-block {
  font-family: var(--font-mono);
  font-size: 0.9em;
  background-color: var(--code-bg);
  border-radius: $radius-sm;
  padding: $space-xs;
  overflow: auto;

  pre {
    margin: 0;
  }
}
