@import "../variables.scss";

.cm-editor {
  border: 1px solid var(--border-color);
  border-radius: $radius-sm;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .cm-scroller {
    overflow: auto;
  }
}

.cm-tooltip {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
}
